<!-- footer.component.html -->
<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Fundraising App</h5>
                <p>
                    Making a difference one step at a time. Join us in our journey to help those in need.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-dark">About Us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Contact</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Donate</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Terms of Service</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-dark">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Twitter</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3 bg-dark text-white">
        © 2023 Fundraising App: <a class="text-white" href="https://fundraisingapp.com/">fundraisingapp.com</a>
    </div>
</footer>
